.navbar {
  @apply flex justify-between items-center p-2.5 text-white;
  z-index: 1000; /* Đảm bảo navbar hiển thị trên cùng */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .container {
    @apply flex justify-between items-center w-full;
    max-width: 1200px; /* Điều chỉnh độ rộng tối đa */
    margin: 0 auto; /* Căn giữa navbar */
    padding: 0 20px; /* Khoảng cách lề bên trong */
  }

  .logo {
    @apply font-bold; /* Độ đậm cho font chữ */
  }

  .nav-links ul {
    @apply flex space-x-4; /* Khoảng cách giữa các liên kết */
  }

  .search-box {
    @apply relative flex items-center;
  }

  .search-input {
    @apply rounded-md px-3 py-2 border border-gray-300 focus:outline-none focus:ring focus:border-blue-300;
    width: 200px; /* Độ rộng ô tìm kiếm */
  }

  .search-button {
    @apply absolute right-0 top-0 bottom-0 flex items-center justify-center bg-transparent border-0;
  }

  .notification-icon,
  .theme-icon {
    @apply ml-4 cursor-pointer;
  }

  .auth-links {
    @apply flex space-x-4;
  }

  .normal-link {
    @apply text-lg hover:underline;
  }

  .auth-link {
    @apply text-lg hover:underline border border-gray-300 px-3 py-1 rounded-md;
  }

  .search-button {
    @apply ml-2 p-2 rounded-md bg-gray-200 hover:bg-gray-300;
  }
}

.overlay {
  position: fixed;
  top: 59px; /* Điều chỉnh theo chiều cao của Navbar */
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /* Tính chiều cao còn lại của viewport */
  background-color: rgba(255, 255, 255, 0.2); /* Màu trắng mờ với độ trong suốt */
  -webkit-backdrop-filter: blur(10px); /* Áp dụng hiệu ứng blur */
  backdrop-filter: blur(10px); /* Hỗ trợ cho trình duyệt webkit */
  z-index: 2; /* Đảm bảo lớp này hiển thị trên các nội dung khác */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  border: 1px solid rgba(0, 0, 0, 0.5); /* Tạo viền mờ */
}

.overlay-content {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}