// src/components/bookDetail/BookDetail.scss

.book-detail {
    &.invisible {
        display: none;
    }

    &.visible {
        display: block;
    }

    .detail-header {
        display: flex;
        align-items: center;

        .detail-image {
            width: 6rem;  // Tailwind w-24
            height: 8rem; // Tailwind h-32
            object-cover: cover;
            margin-right: 1rem; // Tailwind mr-4
        }

        .detail-title {
            font-weight: bold; // Tailwind font-bold
            font-size: 1.25rem; // Tailwind text-xl
        }
    }

    .detail-content {
        margin-top: 1rem; // Tailwind mt-4

        p {
            margin-bottom: 0.5rem; // Additional spacing for better readability
        }

        strong {
            font-weight: bold;
        }
    }
}
