.list__box {
    @apply w-44 h-auto bg-green-600 m-3 justify-between relative;
}

.image__box {
    @apply min-w-max bg-purple-400/45 relative min-h-[220px] flex justify-center items-center overflow-hidden;

    .image {
        @apply w-24;
    }
}

.viewed {
    @apply absolute w-full bg-green-400 bottom-0 text-gray-600 text-center opacity-50 py-1 text-sm;
}

.manga-title {
    @apply bg-slate-200 p-2 text-gray-800; // Changed to default Tailwind color class

    &:hover {
        @apply text-red-600;
    }
}

.chapter-info {
    @apply bg-gray-400 w-full flex justify-center text-xs;

    .left {
        @apply bg-green-100 w-1/2 p-1 pl-3 text-left;
    }

    .right {
        @apply bg-green-100 w-1/2 p-1 pr-3 text-right text-gray-600/65 italic text-xs;
    }
}

.test {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 220%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detail-left {
    @apply w-44 h-full;
    opacity: 1;
}

.detail-right {
    @apply w-44 h-full;
    flex: 1 1 auto;
}


.adjust-left {
    left: auto;
    right: 0;
}